[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
trompace-client = {editable = true, path = "./../trompa-ce-client"}

[packages]
musicbrainzngs = "*"
requests = "*"
Wikidata = "*"
bs4 = "*"
pymediawiki = "*"
lxml = "*"
click = "*"
redis-decorator = "*"
ipython = "*"
mwparserfromhell = "*"
jedi = "==0.17.2"

[requires]
python_version = "3.7"
